.js-form {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  width: 318px;
  float: left;
}

.nameInput {
  font-size: 30px;
}

/*
.center .name__input:focus,
.center .name__input:active {
  outline: none;
}

.center .name__text {
  font-size: 36px;
  margin-bottom: 20px;
}

.center .name {
  margin-bottom: 30px;
} */
