@import url('https://fonts.googleapis.com/css?family=Questrial');
@import "center.css";
@import "clock.css";
@import "location.css";
@import "todo.css";
@import "weather.css";

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: white;
}
html {
  background: #333333;
}

/* Remove li bullets  */
ul{
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}

.is-visible {
  display: block;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.bgImage{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
